* {
    box-sizing: border-box;
    text-decoration: none;
}

@font-face {
    font-family: 'med';
    src: url(../fonts/Noto_Sans_KR/NotoSansKR-Medium.otf);
}

@font-face {
    font-family: 'reg';
    src: url(../fonts/Noto_Sans_KR/NotoSansKR-Regular.otf);
}

@font-face {
    font-family: 'otf';
    src: url(../fonts/Noto_Sans_KR/NotoSansKR-Medium.otf);
}

.header__nav {
    display: flex;
    justify-content: space-between;
    height: 180px;
    padding: 20px 30px 0;
    border-bottom: 1px solid rgba(112, 112, 112, 0.2);
    position: relative;
}

.header__nav__box1 {
    display: flex;
    align-items: flex-start;
}

.header__nav__box1>p {
    color: #754737;
    font-size: 28px;
    margin-left: 10px;
}

.nav__box2__x {
    background-image: url(../image/그룹\ 8387.png);
    width: 40px;
    height: 40px;
}

.header__nav__box1>img {
    margin-top: 5px;
}

.nav__box2__search {
    width: 1002px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.nav__box2__search>input {
    border: 1px solid rgb(0, 0, 0, 0.3);
    width: 954px;
    height: 48px;
    padding: 0px 15px;
}

.nav__box2__search>button {
    background-image: url(../image/그룹\ 8561.png);
    width: 48px;
    height: 48px;
    background-size: cover;
    background-position: center center;
    border: 1px solid rgb(0, 0, 0, 0.3);
    border-left: none;
}

.main {
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
    padding-bottom: 111px;
}

.from__menu__one {
    width: 143px;
    height: 66px;
    border: none;
    border-top: 2px solid #432525;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'reg';
    background-color: #F8F8F8;
    margin-top: -2px;
}

.from__menu__two {
    border: none;
    width: 143px;
    height: 66px;
    font-size: 18px;
    font-family: 'reg';
    color: rgba(67, 37, 37, 0.3);
    background-color: #F8F8F8;
}

.main__from {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1002px;
}

.main__from__menu {
    width: 100%;
    display: flex;
    align-items: center;
}

.main__from__box1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #754737;
    margin-top: 25px;
    margin-bottom: 17px;
}

.main__from__box1>p:first-child {
    font-size: 20px;
    font-family: 'med';
}

.main__from__box1>p:last-child {
    font-size: 14px;
    font-family: 'reg';
}

.main__from__box1>div {
    display: flex;
    align-items: center;
}

.main__from__box1>div>p {
    margin-left: 5px;
}

.box2__one__card {
    width: 486px;
    height: 188px;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 22px 25px 25px 25px;
}

.one__card__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'otf';
}

.one__card__top>button {
    background: #ffffff;
    border: none;
}

.one__card__top>p {
    color: #34891F;
    font-size: 22px;
}

.one__card__middle {
    margin: 26px 0 22px;
    font-size: 14px;
    font-family: 'reg';
}

.one__card__middle b {
    color: #34891F;
    font-weight: bold;
}

.one__card__middle>p {
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #000000;
}

.one__card__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__bottom__icon {
    display: flex;
    align-items: center;
    color: #754737;
}

.bottom__icon__box {
    display: flex;
    align-items: center;
}

.bottom__icon__box>p {
    font-size: 12px;
    font-family: 'reg';
    margin-left: 5px;
}

.--mar1 {
    margin: 0 15px;
}

.card__bottom__text {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-family: 'reg';
    color: #000000;
}

.card__bottom__text>p {
    margin-left: 20px;
}

.from__box2__one {
    display: flex;
    margin-bottom: 30px;
}

.main__from__box2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main__container__box3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: 'reg1';
    margin-bottom: 70px;
}

.container__box3__buttom{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #6A3E30;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6A3E30;
}

.container__box3__buttom1{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: #6A3E30;
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
}

.main__container__box3 > *:not(:first-child){
    margin-left: 10px;
}

/* user_search1.html */

@media screen and (min-width: 376px) and (max-width: 426px) {
    .header__nav__box1>p {
        display: none;
    }
    .main__from__box1 {
        width: 335px;
    }
    .nav__box2__search {
        width: 335px;
    }
    .nav__box2__search>input {
        width: 335px;
    }
    .box2__one__card {
        width: 335px;
    }
    .main__from__box2 {
        justify-content: center;
    }
    .one__card__bottom {
        position: relative;
    }
    .card__bottom__icon {
        position: initial;
    }
    .card__bottom__text {
        position: absolute;
        right: 0;
        bottom: 30px;
    }

    .container__box3__buttom1{
        display: flex;
    }
}

@media screen and (min-width: 321px) and (max-width: 376px) {
    .header__nav__box1>p {
        display: none;
    }
    .main__from__box1 {
        width: 280px;
    }
    .nav__box2__search {
        width: 280px;
    }
    .nav__box2__search>input {
        width: 280px;
    }
    .box2__one__card {
        width: 280px;
    }
    .main__from__box2 {
        justify-content: center;
    }
    .one__card__bottom {
        position: relative;
    }
    .card__bottom__icon {
        position: initial;
    }
    .card__bottom__text {
        position: absolute;
        right: 0;
        bottom: 30px;
    }

    .container__box3__buttom1{
        display: flex;
    }
}

@media screen and (min-width: 1px) and (max-width: 321px) {
    .header__nav__box1>p {
        display: none;
    }
    .main__from__box1 {
        width: 270px;
    }
    .nav__box2__search {
        width: 270px;
    }
    .nav__box2__search>input {
        width: 270px;
    }
    .box2__one__card {
        width: 270px;
    }
    .main__from__box2 {
        justify-content: center;
    }
    .one__card__bottom {
        position: relative;
    }
    .card__bottom__icon {
        position: initial;
    }
    .card__bottom__text {
        position: absolute;
        right: 0;
        bottom: 30px;
    }

    .container__box3__buttom1{
        display: flex;
    }
}